/ %header
/   %h1 ACQUIRE ONLINE

/   %nav
/     %ul
/       %li{class: 'active'}
/         = link_to 'Home', root_path
/       %li= link_to 'About', page_path('about')
/       %li= link_to 'Rules', page_path('rules')
/       - if user_signed_in?
/         %li= link_to 'Game Center', game_center_path
.navbar.navbar-default.navbar-static-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} ACQUIRE ONLINE
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li= link_to 'Home', root_path
        %li= link_to 'About', page_path('about')
        %li= link_to 'Rules', page_path('rules')
        - if user_signed_in?
          %li= link_to 'Game Center', game_center_path
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "#"} Welcome back, #{current_user.username}!
        - if user_signed_in?
          %li= link_to 'Sign out', destroy_user_session_path, :method => :delete
        - else
          %li= link_to 'Sign up', new_user_registration_path