.board
  %table{:border => "1"}
    %tr
      %td= button_to '1A'
      %td= button_to '2A'
      %td= button_to '3A'
      %td= button_to '4A'
      %td= button_to '5A'
      %td= button_to '6A'
      %td= button_to '7A'
      %td= button_to '8A'
      %td= button_to '9A'
      %td= button_to '10A'
      %td= button_to '11A'
      %td= button_to '12A'
    %tr
      %td 
        %a{"data-background-color" => "#990000", :href => '#'} 1B
      %td 2B
      %td 3B
      %td 4B
      %td 5B
      %td 6B
      %td 7B
      %td 8B
      %td 9B
      %td 10B
      %td 11B
      %td 12B
    %tr
      %td 1C
      %td 2C
      %td 3C
      %td 4C
      %td 5C
      %td 6C
      %td 7C
      %td 8C
      %td 9C
      %td 10C
      %td 11C
      %td 12C
    %tr
      %td 1D
      %td 2D
      %td 3D
      %td 4D
      %td 5D
      %td 6D
      %td 7D
      %td 8D
      %td 9D
      %td 10D
      %td 11D
      %td 12D
    %tr
      %td 1E
      %td 2E
      %td 3E
      %td 4E
      %td 5E
      %td 6E
      %td 7E
      %td 8E
      %td 9E
      %td 10E
      %td 11E
      %td 12E
    %tr
      %td 1F
      %td 2F
      %td 3F
      %td 4F
      %td 5F
      %td 6F
      %td 7F
      %td 8F
      %td 9F
      %td 10F
      %td 11F
      %td 12F
    %tr
      %td 1G
      %td 2G
      %td 3G
      %td 4G
      %td 5G
      %td 6G
      %td 7G
      %td 8G
      %td 9G
      %td 10G
      %td 11G
      %td 12G
    %tr
      %td 1H
      %td 2H
      %td 3H
      %td 4H
      %td 5H
      %td 6H
      %td 7H
      %td 8H
      %td 9H
      %td 10H
      %td 11H
      %td 12H
    %tr
      %td= button_to '1I'
      %td= button_to '2I'
      %td= button_to '3I'
      %td= button_to '4I'
      %td= button_to '5I'
      %td= button_to '6I'
      %td= button_to '7I'
      %td= button_to '8I'
      %td= button_to '9I'
      %td= button_to '10I'
      %td= button_to '11I'
      %td= button_to '12I'
