%h2= @game.name
%ul Players in Game:
- if !@game.users.empty?
  -@game.users.each do |player|
    %li= player.username

%ul Who's Turn?
%li= @game.up_next

%ul Your Hand:
- player = current_user.game_players.where(game_id: @game.id).first
- player.tiles.each do |tile|
  %li= tile.to_english

%ul Your Stocks:
%li= 'American: ' + player.stock_cards.where(hotel: 'American').length + pluralize(1, 'share')
%li= 'Continental: ' + player.stock_cards.where(hotel: 'Continental').length + pluralize(1, 'share')
%li= 'Festival: ' + player.stock_cards.where(hotel: 'Festival').length + pluralize(1, 'share')
%li= 'Imperial: ' + player.stock_cards.where(hotel: 'Imperial').length + pluralize(1, 'share')
%li= 'Sackson: ' + player.stock_cards.where(hotel: 'Sackson').length + pluralize(1, 'share')
%li= 'Tower: ' + player.stock_cards.where(hotel: 'Tower').length + pluralize(1, 'share')
%li= 'Worldwide: ' + player.stock_cards.where(hotel: 'Worldwide').length + pluralize(1, 'share')

%ul Cash:
%li= player.cash.to_english

= render partial: 'game_board'

