%h2= @game.name
%ul Players in Game:
- if !@game.users.empty?
  -@game.users.each do |player|
    %li= player.username

%ul Who's Turn?
%li= @game.up_next

%ul Your Hand:
.hand
  - player = current_user.game_players.where(game_id: @game.id).first
  - player.tiles.each do |tile|
    %li= tile.to_english

%ul Your Stocks:
%li= 'American: ' + pluralize(player.stock_cards.where(hotel: 'American').length.to_s , 'share')
%li= 'Continental: ' + pluralize(player.stock_cards.where(hotel: 'Continental').length.to_s , 'share')
%li= 'Festival: ' + pluralize( player.stock_cards.where(hotel: 'Festival').length.to_s , 'share')
%li= 'Imperial: ' + pluralize(player.stock_cards.where(hotel: 'Imperial').length.to_s , 'share')
%li= 'Sackson: ' + pluralize(player.stock_cards.where(hotel: 'Sackson').length.to_s , 'share')
%li= 'Tower: ' + pluralize(player.stock_cards.where(hotel: 'Tower').length.to_s , 'share')
%li= 'Worldwide: ' + pluralize(player.stock_cards.where(hotel: 'Worldwide').length.to_s , 'share')

%ul Cash:
- if !player.cash.nil?
  %li= player.cash_to_english

= @available_tiles
= @game_tile
= render partial: 'game_board', locals: {game: @game }
= render partial: 'stock_chart', locals: { game_hotels: @game_hotels }
= render partial: 'choose_chain', locals: {game_tile: @game_tile, available_hotels: @available_hotels}
